@import "tailwindcss";

* {
  /* margin: 0; */
  box-sizing: border-box;
  font-family: "Actor", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  letter-spacing: 1px;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (min-width: 768px) {

  body {
    padding-top: 160px;
    padding-bottom: 160px;
  }

}

@media (min-width: 1024) {

  body {
    padding-top: 180px;
    padding-bottom: 180px;
  }

}