.modalSkillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem 1rem;
  margin-top: 3rem;
  justify-items: center;
}

.modalSkillsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.modalSkillsItem svg {
  width: 40px;
  height: 40px;
  color: #2e2e2b;
  transition: transform 0.3s;
}

.modalSkillsItem:hover svg {
  transform: scale(1.2);
}
